/* Header style start*/
.header{   
    background-color:#FFA500;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
}
.h1{
    -webkit-text-fill-color: green;
    font-size: 5vw;
    margin: auto;
}
.h2{  
    text-align: center;
    -webkit-text-fill-color: green;
    font-size: 2vw;
    margin: auto;
}
.my-photo{
    height: 12vw;
    /* padding-right: 15px; */
    margin: auto 15px auto 15px;
}
.info{
    margin: auto;
}
.mail{
    text-align: center;
    -webkit-text-fill-color: green;
    font-size: 1.8vw;
    margin: auto;
    font-style: none;
}
.phone{
    text-align: center;
    -webkit-text-fill-color: green;
    font-size: 1.8vw;
    margin: 5px auto 5px auto;
    font-style: none;
}
a:link{
    text-decoration: none;
}
a:hover{
    background-color: aqua;
}
@media (max-width: 900px){
    .header{
        flex-direction: column;
    }
    .my-photo{
    margin: auto auto 5px auto;
    height: 50vw;
    }
    .h1{
        margin-top : 10px;
        text-align: center;
        font-size: 8vw;
    }
    .mail{
        text-align: center;
        -webkit-text-fill-color: green;
        font-size: 5vw;
        margin: auto;
        font-style: none;
    }
    .h2{
        text-align: center;
        -webkit-text-fill-color: green;
        font-size: 5vw;
        margin: auto;
    }
    .phone{
        text-align: center;
        -webkit-text-fill-color: green;
        font-size: 5vw;
        margin: 3.5px auto 10px auto;
    }
    a:link{
        text-decoration: none;
    }
    a:hover{
        background-color: aqua;
    }
}
/* Header style end   */
/* Body style start */
.body{
    margin: 0;
    padding: 0;
    background-color: #8B0000;
}
/* Body style end */